/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 13, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_html5.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 35, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_html5.scss */
[hidden] {
  display: none;
}

/* line 2, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_base.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_base.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_base.scss */
body {
  margin: 0;
}

/* line 4, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_links.scss */
a:focus {
  outline: thin dotted;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_links.scss */
a:hover, a:active {
  outline: 0;
}

/* line 4, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 9, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 14, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 29, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 35, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 41, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 45, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
blockquote {
  margin: 1em 40px;
}

/* line 50, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
dfn {
  font-style: italic;
}

/* line 55, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 63, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
p,
pre {
  margin: 1em 0;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 88, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
q {
  quotes: none;
}

/* line 95, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 100, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
small {
  font-size: 75%;
}

/* line 107, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
sup {
  top: -0.5em;
}

/* line 118, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_lists.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 11, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_lists.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_lists.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_lists.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 2, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_embedded.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 14, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_embedded.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 3, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_figures.scss */
figure {
  margin: 0;
}

/* line 4, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
form {
  margin: 0;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 34, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 48, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
button,
input {
  line-height: normal;
}

/* line 55, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 71, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 91, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 104, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 112, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 118, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 3, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-normalize-plugin-0.3.0/scss/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/screen.scss */
body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.031%, rgba(0, 0, 0, 0)), color-stop(1.031%, rgba(100, 100, 225, 0.25)), color-stop(4.124%, rgba(100, 100, 225, 0.25)), color-stop(4.124%, rgba(0, 0, 0, 0)), color-stop(5.155%, rgba(0, 0, 0, 0)), color-stop(5.155%, rgba(100, 100, 225, 0.25)), color-stop(8.247%, rgba(100, 100, 225, 0.25)), color-stop(8.247%, rgba(0, 0, 0, 0)), color-stop(9.278%, rgba(0, 0, 0, 0)), color-stop(9.278%, rgba(100, 100, 225, 0.25)), color-stop(12.371%, rgba(100, 100, 225, 0.25)), color-stop(12.371%, rgba(0, 0, 0, 0)), color-stop(13.402%, rgba(0, 0, 0, 0)), color-stop(13.402%, rgba(100, 100, 225, 0.25)), color-stop(16.495%, rgba(100, 100, 225, 0.25)), color-stop(16.495%, rgba(0, 0, 0, 0)), color-stop(17.526%, rgba(0, 0, 0, 0)), color-stop(17.526%, rgba(100, 100, 225, 0.25)), color-stop(20.619%, rgba(100, 100, 225, 0.25)), color-stop(20.619%, rgba(0, 0, 0, 0)), color-stop(21.649%, rgba(0, 0, 0, 0)), color-stop(21.649%, rgba(100, 100, 225, 0.25)), color-stop(24.742%, rgba(100, 100, 225, 0.25)), color-stop(24.742%, rgba(0, 0, 0, 0)), color-stop(25.773%, rgba(0, 0, 0, 0)), color-stop(25.773%, rgba(100, 100, 225, 0.25)), color-stop(28.866%, rgba(100, 100, 225, 0.25)), color-stop(28.866%, rgba(0, 0, 0, 0)), color-stop(29.897%, rgba(0, 0, 0, 0)), color-stop(29.897%, rgba(100, 100, 225, 0.25)), color-stop(32.99%, rgba(100, 100, 225, 0.25)), color-stop(32.99%, rgba(0, 0, 0, 0)), color-stop(34.021%, rgba(0, 0, 0, 0)), color-stop(34.021%, rgba(100, 100, 225, 0.25)), color-stop(37.113%, rgba(100, 100, 225, 0.25)), color-stop(37.113%, rgba(0, 0, 0, 0)), color-stop(38.144%, rgba(0, 0, 0, 0)), color-stop(38.144%, rgba(100, 100, 225, 0.25)), color-stop(41.237%, rgba(100, 100, 225, 0.25)), color-stop(41.237%, rgba(0, 0, 0, 0)), color-stop(42.268%, rgba(0, 0, 0, 0)), color-stop(42.268%, rgba(100, 100, 225, 0.25)), color-stop(45.361%, rgba(100, 100, 225, 0.25)), color-stop(45.361%, rgba(0, 0, 0, 0)), color-stop(46.392%, rgba(0, 0, 0, 0)), color-stop(46.392%, rgba(100, 100, 225, 0.25)), color-stop(49.485%, rgba(100, 100, 225, 0.25)), color-stop(49.485%, rgba(0, 0, 0, 0)), color-stop(50.515%, rgba(0, 0, 0, 0)), color-stop(50.515%, rgba(100, 100, 225, 0.25)), color-stop(53.608%, rgba(100, 100, 225, 0.25)), color-stop(53.608%, rgba(0, 0, 0, 0)), color-stop(54.639%, rgba(0, 0, 0, 0)), color-stop(54.639%, rgba(100, 100, 225, 0.25)), color-stop(57.732%, rgba(100, 100, 225, 0.25)), color-stop(57.732%, rgba(0, 0, 0, 0)), color-stop(58.763%, rgba(0, 0, 0, 0)), color-stop(58.763%, rgba(100, 100, 225, 0.25)), color-stop(61.856%, rgba(100, 100, 225, 0.25)), color-stop(61.856%, rgba(0, 0, 0, 0)), color-stop(62.887%, rgba(0, 0, 0, 0)), color-stop(62.887%, rgba(100, 100, 225, 0.25)), color-stop(65.979%, rgba(100, 100, 225, 0.25)), color-stop(65.979%, rgba(0, 0, 0, 0)), color-stop(67.01%, rgba(0, 0, 0, 0)), color-stop(67.01%, rgba(100, 100, 225, 0.25)), color-stop(70.103%, rgba(100, 100, 225, 0.25)), color-stop(70.103%, rgba(0, 0, 0, 0)), color-stop(71.134%, rgba(0, 0, 0, 0)), color-stop(71.134%, rgba(100, 100, 225, 0.25)), color-stop(74.227%, rgba(100, 100, 225, 0.25)), color-stop(74.227%, rgba(0, 0, 0, 0)), color-stop(75.258%, rgba(0, 0, 0, 0)), color-stop(75.258%, rgba(100, 100, 225, 0.25)), color-stop(78.351%, rgba(100, 100, 225, 0.25)), color-stop(78.351%, rgba(0, 0, 0, 0)), color-stop(79.381%, rgba(0, 0, 0, 0)), color-stop(79.381%, rgba(100, 100, 225, 0.25)), color-stop(82.474%, rgba(100, 100, 225, 0.25)), color-stop(82.474%, rgba(0, 0, 0, 0)), color-stop(83.505%, rgba(0, 0, 0, 0)), color-stop(83.505%, rgba(100, 100, 225, 0.25)), color-stop(86.598%, rgba(100, 100, 225, 0.25)), color-stop(86.598%, rgba(0, 0, 0, 0)), color-stop(87.629%, rgba(0, 0, 0, 0)), color-stop(87.629%, rgba(100, 100, 225, 0.25)), color-stop(90.722%, rgba(100, 100, 225, 0.25)), color-stop(90.722%, rgba(0, 0, 0, 0)), color-stop(91.753%, rgba(0, 0, 0, 0)), color-stop(91.753%, rgba(100, 100, 225, 0.25)), color-stop(94.845%, rgba(100, 100, 225, 0.25)), color-stop(94.845%, rgba(0, 0, 0, 0)), color-stop(95.876%, rgba(0, 0, 0, 0)), color-stop(95.876%, rgba(100, 100, 225, 0.25)), color-stop(98.969%, rgba(100, 100, 225, 0.25)), color-stop(98.969%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(100, 100, 225, 0.25) 1.031%, rgba(100, 100, 225, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(100, 100, 225, 0.25) 5.155%, rgba(100, 100, 225, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(100, 100, 225, 0.25) 9.278%, rgba(100, 100, 225, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(100, 100, 225, 0.25) 13.402%, rgba(100, 100, 225, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(100, 100, 225, 0.25) 17.526%, rgba(100, 100, 225, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(100, 100, 225, 0.25) 21.649%, rgba(100, 100, 225, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(100, 100, 225, 0.25) 25.773%, rgba(100, 100, 225, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(100, 100, 225, 0.25) 29.897%, rgba(100, 100, 225, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(100, 100, 225, 0.25) 34.021%, rgba(100, 100, 225, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(100, 100, 225, 0.25) 38.144%, rgba(100, 100, 225, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(100, 100, 225, 0.25) 42.268%, rgba(100, 100, 225, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(100, 100, 225, 0.25) 46.392%, rgba(100, 100, 225, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(100, 100, 225, 0.25) 50.515%, rgba(100, 100, 225, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(100, 100, 225, 0.25) 54.639%, rgba(100, 100, 225, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(100, 100, 225, 0.25) 58.763%, rgba(100, 100, 225, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(100, 100, 225, 0.25) 62.887%, rgba(100, 100, 225, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(100, 100, 225, 0.25) 67.01%, rgba(100, 100, 225, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(100, 100, 225, 0.25) 71.134%, rgba(100, 100, 225, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(100, 100, 225, 0.25) 75.258%, rgba(100, 100, 225, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(100, 100, 225, 0.25) 79.381%, rgba(100, 100, 225, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(100, 100, 225, 0.25) 83.505%, rgba(100, 100, 225, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(100, 100, 225, 0.25) 87.629%, rgba(100, 100, 225, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(100, 100, 225, 0.25) 91.753%, rgba(100, 100, 225, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(100, 100, 225, 0.25) 95.876%, rgba(100, 100, 225, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(100, 100, 225, 0.25) 1.031%, rgba(100, 100, 225, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(100, 100, 225, 0.25) 5.155%, rgba(100, 100, 225, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(100, 100, 225, 0.25) 9.278%, rgba(100, 100, 225, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(100, 100, 225, 0.25) 13.402%, rgba(100, 100, 225, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(100, 100, 225, 0.25) 17.526%, rgba(100, 100, 225, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(100, 100, 225, 0.25) 21.649%, rgba(100, 100, 225, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(100, 100, 225, 0.25) 25.773%, rgba(100, 100, 225, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(100, 100, 225, 0.25) 29.897%, rgba(100, 100, 225, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(100, 100, 225, 0.25) 34.021%, rgba(100, 100, 225, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(100, 100, 225, 0.25) 38.144%, rgba(100, 100, 225, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(100, 100, 225, 0.25) 42.268%, rgba(100, 100, 225, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(100, 100, 225, 0.25) 46.392%, rgba(100, 100, 225, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(100, 100, 225, 0.25) 50.515%, rgba(100, 100, 225, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(100, 100, 225, 0.25) 54.639%, rgba(100, 100, 225, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(100, 100, 225, 0.25) 58.763%, rgba(100, 100, 225, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(100, 100, 225, 0.25) 62.887%, rgba(100, 100, 225, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(100, 100, 225, 0.25) 67.01%, rgba(100, 100, 225, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(100, 100, 225, 0.25) 71.134%, rgba(100, 100, 225, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(100, 100, 225, 0.25) 75.258%, rgba(100, 100, 225, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(100, 100, 225, 0.25) 79.381%, rgba(100, 100, 225, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(100, 100, 225, 0.25) 83.505%, rgba(100, 100, 225, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(100, 100, 225, 0.25) 87.629%, rgba(100, 100, 225, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(100, 100, 225, 0.25) 91.753%, rgba(100, 100, 225, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(100, 100, 225, 0.25) 95.876%, rgba(100, 100, 225, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(100, 100, 225, 0.25) 1.031%, rgba(100, 100, 225, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(100, 100, 225, 0.25) 5.155%, rgba(100, 100, 225, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(100, 100, 225, 0.25) 9.278%, rgba(100, 100, 225, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(100, 100, 225, 0.25) 13.402%, rgba(100, 100, 225, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(100, 100, 225, 0.25) 17.526%, rgba(100, 100, 225, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(100, 100, 225, 0.25) 21.649%, rgba(100, 100, 225, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(100, 100, 225, 0.25) 25.773%, rgba(100, 100, 225, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(100, 100, 225, 0.25) 29.897%, rgba(100, 100, 225, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(100, 100, 225, 0.25) 34.021%, rgba(100, 100, 225, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(100, 100, 225, 0.25) 38.144%, rgba(100, 100, 225, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(100, 100, 225, 0.25) 42.268%, rgba(100, 100, 225, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(100, 100, 225, 0.25) 46.392%, rgba(100, 100, 225, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(100, 100, 225, 0.25) 50.515%, rgba(100, 100, 225, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(100, 100, 225, 0.25) 54.639%, rgba(100, 100, 225, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(100, 100, 225, 0.25) 58.763%, rgba(100, 100, 225, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(100, 100, 225, 0.25) 62.887%, rgba(100, 100, 225, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(100, 100, 225, 0.25) 67.01%, rgba(100, 100, 225, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(100, 100, 225, 0.25) 71.134%, rgba(100, 100, 225, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(100, 100, 225, 0.25) 75.258%, rgba(100, 100, 225, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(100, 100, 225, 0.25) 79.381%, rgba(100, 100, 225, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(100, 100, 225, 0.25) 83.505%, rgba(100, 100, 225, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(100, 100, 225, 0.25) 87.629%, rgba(100, 100, 225, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(100, 100, 225, 0.25) 91.753%, rgba(100, 100, 225, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(100, 100, 225, 0.25) 95.876%, rgba(100, 100, 225, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(100, 100, 225, 0.25) 1.031%, rgba(100, 100, 225, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(100, 100, 225, 0.25) 5.155%, rgba(100, 100, 225, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(100, 100, 225, 0.25) 9.278%, rgba(100, 100, 225, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(100, 100, 225, 0.25) 13.402%, rgba(100, 100, 225, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(100, 100, 225, 0.25) 17.526%, rgba(100, 100, 225, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(100, 100, 225, 0.25) 21.649%, rgba(100, 100, 225, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(100, 100, 225, 0.25) 25.773%, rgba(100, 100, 225, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(100, 100, 225, 0.25) 29.897%, rgba(100, 100, 225, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(100, 100, 225, 0.25) 34.021%, rgba(100, 100, 225, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(100, 100, 225, 0.25) 38.144%, rgba(100, 100, 225, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(100, 100, 225, 0.25) 42.268%, rgba(100, 100, 225, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(100, 100, 225, 0.25) 46.392%, rgba(100, 100, 225, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(100, 100, 225, 0.25) 50.515%, rgba(100, 100, 225, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(100, 100, 225, 0.25) 54.639%, rgba(100, 100, 225, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(100, 100, 225, 0.25) 58.763%, rgba(100, 100, 225, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(100, 100, 225, 0.25) 62.887%, rgba(100, 100, 225, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(100, 100, 225, 0.25) 67.01%, rgba(100, 100, 225, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(100, 100, 225, 0.25) 71.134%, rgba(100, 100, 225, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(100, 100, 225, 0.25) 75.258%, rgba(100, 100, 225, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(100, 100, 225, 0.25) 79.381%, rgba(100, 100, 225, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(100, 100, 225, 0.25) 83.505%, rgba(100, 100, 225, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(100, 100, 225, 0.25) 87.629%, rgba(100, 100, 225, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(100, 100, 225, 0.25) 91.753%, rgba(100, 100, 225, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(100, 100, 225, 0.25) 95.876%, rgba(100, 100, 225, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(100, 100, 225, 0.25) 1.031%, rgba(100, 100, 225, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(100, 100, 225, 0.25) 5.155%, rgba(100, 100, 225, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(100, 100, 225, 0.25) 9.278%, rgba(100, 100, 225, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(100, 100, 225, 0.25) 13.402%, rgba(100, 100, 225, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(100, 100, 225, 0.25) 17.526%, rgba(100, 100, 225, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(100, 100, 225, 0.25) 21.649%, rgba(100, 100, 225, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(100, 100, 225, 0.25) 25.773%, rgba(100, 100, 225, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(100, 100, 225, 0.25) 29.897%, rgba(100, 100, 225, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(100, 100, 225, 0.25) 34.021%, rgba(100, 100, 225, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(100, 100, 225, 0.25) 38.144%, rgba(100, 100, 225, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(100, 100, 225, 0.25) 42.268%, rgba(100, 100, 225, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(100, 100, 225, 0.25) 46.392%, rgba(100, 100, 225, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(100, 100, 225, 0.25) 50.515%, rgba(100, 100, 225, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(100, 100, 225, 0.25) 54.639%, rgba(100, 100, 225, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(100, 100, 225, 0.25) 58.763%, rgba(100, 100, 225, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(100, 100, 225, 0.25) 62.887%, rgba(100, 100, 225, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(100, 100, 225, 0.25) 67.01%, rgba(100, 100, 225, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(100, 100, 225, 0.25) 71.134%, rgba(100, 100, 225, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(100, 100, 225, 0.25) 75.258%, rgba(100, 100, 225, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(100, 100, 225, 0.25) 79.381%, rgba(100, 100, 225, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(100, 100, 225, 0.25) 83.505%, rgba(100, 100, 225, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(100, 100, 225, 0.25) 87.629%, rgba(100, 100, 225, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(100, 100, 225, 0.25) 91.753%, rgba(100, 100, 225, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(100, 100, 225, 0.25) 95.876%, rgba(100, 100, 225, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-size: 100% 24px, auto;
  -moz-background-size: 100% 24px, auto;
  -o-background-size: 100% 24px, auto;
  background-size: 100% 24px, auto;
  background-position: left top;
}
/* line 61, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body * html {
  font-size: 100%;
}
/* line 64, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 33, ../sass/screen.scss */
h1 {
  font-size: 3em;
  line-height: 1.5em;
}

/* line 61, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}
